---
import PortfolioChrome from './portfolio/PortfolioChrome.astro';
import HeroSection from './portfolio/HeroSection.astro';
import SkillsSection from './portfolio/SkillsSection.astro';
import ExperienceSection from './portfolio/ExperienceSection.astro';
import ProjectsSection from './portfolio/ProjectsSection.astro';
import AboutSection from './portfolio/AboutSection.astro';
import ContactSection from './portfolio/ContactSection.astro';
import PortfolioFooter from './portfolio/PortfolioFooter.astro';
---

<PortfolioChrome />

<div class="page-wrap">
  <HeroSection />
  <SkillsSection />
  <ExperienceSection />
  <ProjectsSection />
  <AboutSection />
  <ContactSection />
  <PortfolioFooter />
</div>
